
body {
    direction: rtl;
    font-family: IRANsans;
}

a {
    text-decoration: none;
}

/* 
    navigation
*/

.navigation {
    background-color: #da0037;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: white;
    font-size: .9em;
}

.navigation li {
    list-style: none;
    padding: 12px 20px;
}

.navigation li:hover {
    background-color: #e92254;
}

.nav-logo:hover {
    background-color: #68214c !important;
}

.nav-right , .nav-left {
    display: flex;
    flex-direction: row;
}

.nav-logo {
    background-color: #54123b;
}




/* 
    head-section
*/

.head-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 20px;
}


/* 
    head secrion right
*/



.head-section-right {
    display: flex;
}

.menu-item {
    padding: 12px;
    background-color: #8f033f;
    border-radius: 3px;
}

.menu-item:hover {
    background-color: #a51d58;
}

.menu-item a {
    color: white;
    display: flex;
    font-size: .9em;
}

.menu-item a i {
    margin-left: 6px;
}



.search-box div input {
    border: none;
    outline: none;
    background-color: #f3f3f3;
    font-size: .9em;
    padding: 12px;
    margin-right: 20px;
    width: 300px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-box div input::placeholder {
    color: #a5a5a5;
}

.search-box div {
    display: flex;
}

.search-btn {
    border: none;
    background-color: #a5a5a5;
    color: white;
    padding: 12px 12px 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #c5c5c5;
}




/* 
    head secrion left
*/




.cart-shop {
    color: white;
    background-color: #f85240;
    /* padding: 10px; */
    font-size: .9em;
    display: flex;
    border-radius: 3px;
    align-items: center;
}

.cart-shop:hover {
    background-color: #fc6656;
}

.cart-shop i {
    padding: 11px;
    background-color: rgba(255 , 255 , 255 , .3);
    font-size: 1.2em;
    margin-left: 20px;
}

.cart-shop span {
    border-radius: 50%;
    background-color: rgba(255 , 255 , 255 , .3);
    padding: 6px 10px 4px; 
    margin-left: 10px;
    margin-right: 10px;
}




/* 

        suggest item

*/


.special-suggest-item {
    background: url(../image/first-img.jpg) 50% 50% no-repeat !important;
    background-size: cover !important;
    height: 290px;
    display: flex;
    z-index: 0;
    direction: ltr;
}

.special-suggest-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.suggest-btn {
    outline: none;
    border: none;
    background-color: #680119;
    padding: 15px;
    border-radius: 5px;
}

.suggest-btn a {
    color: white;
    font-size: .9em;
}

.special-suggest-item-section {
    color: white;
    background-color: #a80a1b;
    border-radius: 5px;
    padding: 25px;
    margin: 15px 0 9px 0;
    font-size: 1.3em;
    cursor: default;
}


.suggest-btn:hover {
    background-color: #851d35;
}

.special-suggest .owl-controls {
    position: absolute;
    bottom: 0;
    right: 50%;
}



/* 

                    section > پیشنهاد های ویژه

*/


.product-section {
    padding: 0 20px 0 ;
    margin: 20px 0 0 0;
}

.product-section-head {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.product-section-head h3 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: -1px;
    color: #4d4d4d;
}

.product-section-head span a {
    color: rgba(0 ,0 ,0 ,.5);
    border-bottom: solid 1px rgba(0 ,0 ,0 ,.5);
    margin-right: 10px;
    font-size: 0.9em;
}

.product-section-head span a:hover {
    border-style: none;
    color: rgba(0, 86, 247 , .5);
}

.product-section-content {
    padding: 0 20px 0 20px;
    margin-top: 25px;
}

.product-img {
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0 ,0 ,0 , .1);
}

.product-img img {
    height: 200px;
    width: auto !important;
}

.product-box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-box-info a {
    color: #444;
    margin-top: 15px;
    font-size: 1em;
}

.product-box-info .org-price {
    margin-top: 6px;
    color: #ef3636;
    font-size: 1em;
    text-decoration: line-through;
}

.product-box-info .off-price {
    margin-top: 5px;
    color: #4caf50;
    font-size: 1.1em;
    font-weight: 400;
}

.product-section .owl-dots .owl-dot span {
    background-color: #B2B1B9 !important;
}

.product-section .owl-dots .active span {
    background-color: #595260 !important;
}





/* 
            baner style
*/



.baner-section {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
}

.part-1{
    margin-left: 5px;
    display: flex;
}

.part-2 {
    display: flex;
    flex-direction: column;
}


/* .part-1 img {
    width: 98.8% !important;
} */

.part-2-firstchild {
    margin-bottom: 0 !important;
}

.baner-section a {
    margin: 5px;
}

.baner-section a:hover {
    transform: scale(1.01);
}

.baner-section img {
    width: 100%;
}

.baner-section-box-part2 {
    display: flex;
    flex-direction: row;
}

.baner-section-box-part2 a {
    margin-top: 0 !important;
}



/* 
    پر فروشترین ها
*/


.product-section-head-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-section-head-center h3 {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 7px;
    color: #4d4d4d;
    font-size: 1.4em;
}

.product-section-head-description {
    width: 80%;
    margin-top: 20px;
    line-height: 1.6;
    text-align: center;
    font-size: 1em;
    color: #4d4d4d;
}

.product-section-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 30px 0 0 0;
}

.product-section-nav span a {
    color: #4d4d4d;
    font-size: .9em;
    word-spacing: -1px;
    border-bottom: 1px solid #4d4d4d;
}

.product-section-nav span a:hover {
    border: none;
}

.nav-btn {
    outline: none;
    border: none;
    padding: 9px 10px 7px 10px;
    border-radius: 5px;
    color: #4d4d4d;
}

.nav-btn:hover {
    opacity: .7;
    cursor: pointer;
}

.fa-chevron-right {
    margin-left: 3px;
}
.fa-chevron-left {
    margin-right: 3px;
}




/* 
*           comment
*/



.comment-section {
    display: flex;
    background-color: #EDEDED;
    /* height: 525px; */
    margin: 45px 0;
}

.comment-section .comment-section-head {
    background-image: url(../image/comment.jpg);
    background-position: 50%;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    flex-basis: 30%;
    color: white;
    text-align: center;
    align-items: center;
    position: relative;
}

.comment-section .comment-section-head::after {
    content: ' ' ;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: rgba(0 ,0 ,0 ,.4);
    position: absolute;
} 

.comment-section .comment-section-head .comment-head {
    z-index: 1;
    padding: 0 20px;
}

.comment-head h3 {
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: "IRAMsans-bold";
}

.comment-head p {
    line-height: 1.8;
    font-size: 0.8em;
    margin-bottom: 35px;
}

.comment-head a {
    color: white;
    border-bottom: solid 1px;
    font-size: 1.1em;
    line-height: 1.8;
}

.comment-head a:hover {
    border: none;
}

.comment-section-content {
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
    padding: 20px;
}

.comment-box {
    flex-basis: calc(50% - 20px);
    background-color: white;
    border: 1px solid rgba(0 ,0 ,0 , .1);
    padding: 20px;
    margin: 10px;
}

.comment-box h2 {
    color: #626262;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.comment-box p {
    color: #7e7e7e;
    font-size: 0.9em;
    line-height: 1.5;
    padding-top: 20px;
}

.comment-box:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: transform .2s ease-in;
}


/* 
            footer
*/

footer {
    margin-top: 50px;
    background-color: #54123b;
    padding: 25px 40px;
    display: flex;
    color: white;
}

.customer , .newletter , .more-info {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    margin-left: 30px;
}

.newletter {
    flex-basis: 50%;
}

.customer {
    flex-basis: 20%;
}

.more-info {
    margin-left: 0;
    flex-basis: 30%;
}

footer h3 {
    font-size: 1.2em;
    font-weight: normal;
    cursor: default;
}

footer span , footer p {
    cursor: default;
}

footer hr {
    border: 1px solid white;
    opacity: .6;
    margin: 20px 0 25px;
}

footer a:hover {
    opacity: .8;
}

.customer a , .newletter a  , .more-info a {
    color: #efefef;
}

.customer a {
    margin-bottom: 20px;
    font-size: .9em;
}

.newletter form {
    display: flex;
    margin-top: 10px;
}

.newletter button {
    font-size: .9em;
    background-color: #29c7ac;
    flex-basis: 10%;
}

.newletter input , .newletter button {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.newletter button:hover {
    cursor: pointer;
    opacity: .9;
}

.newletter input {
    background-color: white;
    margin-left: 10px;
    flex-basis: 60%;
    font-size: 1em;
    color: rgba(0,0,0,0.8);
}

.newletter input::placeholder {
    opacity: .5;
    font-size: .8em;
}

.newletter p {
    margin-bottom: 20px;
    margin-left: 10%;
    font-size: .9em;
    line-height: 2.3;
    color: #efefef;
}

.more-info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-info-head span {
    direction: ltr;
    font-size: .9em;
    color: #efefef;
}

.more-info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.more-info-right {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.call {
    margin-bottom: 30px;
}

.more-info-left {
    display: flex;
    margin-right: 20%;
}

.more-info-left a  {
    padding: 7px;
    font-size: 2.2em;
}












/*                  responsive              */



@media only screen and (max-width : 1300px) {
    footer {
        flex-wrap: wrap;
    }
    .customer , .newletter {
        flex-basis: calc(50% - 30px);
    }
    .newletter {
        margin-left: 0;
    }
    .more-info {
        flex-basis: 100%;
        margin-top: 50px;
    }
    .more-info-section {
        justify-content: center;
    }
    .newletter p {
        margin-left: 0;
    }
}

@media only screen and (max-width : 1080px) {

}

@media only screen and (max-width : 810px) {
    .special-suggest .owl-controls {
        right: 45%;
    }
}
@media only screen and (max-width : 771px) {

    .navigation li {
        padding: 12px 13px;
        font-size: .9em;
    }
    .special-suggest-item {
        height: 175px;
    }
    .special-suggest-item-section{
        padding: 10px;
        font-size: .8em;
    }
    .suggest-btn {
        padding: 8px;
        font-size: .7em;
    }
    .special-suggest .owl-controls {
        right: 45%;
    }
}

@media only screen and (max-width : 720px) {
    .comment-section {
        flex-direction: column;
    }
    .comment-section-head {
        padding: 50px;
    }
}

@media only screen and (max-width : 710px) {
    .search-box {
        width: 220px;
    }
}

@media only screen and (max-width : 653px) {
    .newletter , .customer , .more-info {
        margin-left: 0;
        flex-basis: 100%;
    }
    .newletter {
        margin-top: 50px;
    }
}

@media only screen and (max-width : 633px) {

    .nav-left {
        display: none;
    }
    .nav-right {
        flex-direction: column;
        width: 100%;
    }
    .navigation li {
        display: flex;
        justify-content: center;
    }
    .search-box {
        display: none;
    }
    .special-suggest .owl-controls {
        right: 43%;
    }
}

@media only screen and (max-width : 500px) {
    .comment-box {
        flex-basis: calc(100% - 20px);
    }
}

@media only screen and (max-width : 350px) {
    
    .special-suggest-item {
        height: 100px;
    }
    .special-suggest-item-section{
        padding: 6px;
        font-size: .6em;
    }
    .suggest-btn {
        padding: 6px;
        font-size: .5em;
    }
    .special-suggest-item-section {
        margin: 6px 0 5px 0;
    }
    .special-suggest-item-info {
        margin-left: 5px;
    }
    .cart-shop {
        font-size: .7em;
    }
    .cart-shop i {
        padding: 7px;
    }
    .cart-shop span {
        padding: 6px 9px 4px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .cart-shop i {
        margin-left: 9px;
    }
    .menu-item a {
        font-size: .6em;
    }
    .menu-item {
        padding: 8px;
    }
    .special-suggest .owl-controls {
        right: 40%;
    }
}




